body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    background-color: #c4d9da;
  }

  #ab1{
    background: white;
    /* border: 1px solid black; */
    height: 50%;
    width: 70%;
    border-radius: 3vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
 
.header {
    overflow: hidden;
    width: 100%;
    height: 7vh;
    background-color: #eefff7;
    position: fixed;
    z-index: 5;
    padding: 1vh 0.1vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 3vh;
  }
  
  .header a {
    /* float: left; */
    color: black;
    text-align: center;
    padding: 1vh;
    text-decoration: none;
     
    line-height: 2.5;
    border-radius: 4px;
    /* border: 1px solid black; */
    background: lightcyan;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .header a.logo {
    font-size: 3vh;
    
display: flex;
justify-content: center;
align-items: center;
  }
  
  /* .header a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
    /* margin-left: 10%; */
  }

  .g1{
    height: 30px;
    width: 30px;
  }
  .g2{
    height: 50px;
    width: 50px;
  }
  

  .a11{
    height: 80vh;
    width: 80vh;
    /* border: 1px solid black; */
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    /* background-color: lightsteelblue; */
   

    border-radius: 1vh;
  }
  .a1{
    height: 80vh;
    width: 80vh;
    /* border: 1px solid black; */
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    /* background-color: #EFEFEF; */
   

    border-radius: 1vh;
  }

  .a2{
    width: 45vh;
    height:45vh;
    /* border: 1px solid black; */
    /* border-radius: 5vh; */
  }

  .a3{
    width: 70vh;
    height: 30vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    flex-direction: column;
    border-radius: 2vh;
    background-color: #ECF2FF;
    box-shadow: 0 10px 15px;
  }
  .im{
    width: 117%;
    height: 100%;
    border-radius: 15%;
    display: grid;
    align-self: center;
    box-shadow: 0 10px 15px rgb(60, 57, 57);
    /* transform: rotateY(180deg); */
    /* animation: anim 6s linear infinite; */
    animation: float 5s ease-in-out infinite;
  }

  /* @keyframes anim {
    50%{
      top: -90%;
      right: 30%;
    }
  } */

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }
  

  .p1{
    width: 68vh;
    height:10vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: 500;
    border-radius: 1vh;
  }
  .gi1{
    height: 5vh;
    width: 5vh;
  }
  .no{
    height: 3vh;
  }
  .no1{
    width: 5vh;
  }

  .b1{
    width: 80vh;
    height: 80vh;
     /* border: 1px solid black; */
     /* background-color: #F7ECDE; */
     border-radius: 1vh;
     display: flex;
     justify-content: center;
     align-items: center;
  }

  .par1{
    width: 100%;
    height: 90vh;
   /* border: 1px solid black; */
   display: flex;
  justify-content: space-around;
  align-items: center;
  }
  .b2{
    height: 75vh;
    width: 75vh;
    border-radius: 2vh;
   background-color: rgb(238, 255, 247);
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: space-around; */
  }

  .mm{
    height: 7vh;
    width: 75vh;
   font-size: 5vh;
   /* border-bottom: 1px solid black; */
   display: flex;
    justify-content: center;
    align-items: center;
  }
  .mm1{
    /* height: 13vh; */
    font-size: 3vh;
    width: 75vh;
    /* border: 1px solid black; */
   border-radius: 0.5vh;
   display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 5vh;
  }

  .par2{
    height: 90vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .par2a{
    height: 80vh;
    width: 95%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float:right;
    align-items: center;
  }
  .he1{
    width: 100%;
    height: 10vh;
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
  }
  #pr{
    font-size: 4.5vh;
  }
  .f{
    height: 65vh;
    width: 80%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 6vh;
  
  }
  button{
    font-size: 3vh;
  }
  .fade1{
    /* height:50vh; */
    /* width: 20vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 6px solid navajowhite; */
    transition: 2s all;
  }
 
  
  .fade{
    height:50vh;
    width: 80%;
    /* border: 1px solid red; */
  }
.s3{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* float: center; */
  width: 25vh;
  height: 20vh;
  /* border: 1px solid black; */
  border-radius: 5px;
}
  .mySlides {
    
  width: 30vh;
  height: 26.5vh;
  }

  .lll{
    width: 15vh;
    height: 5vh;
    /* border: 1px solid rgb(0, 0, 0); */
  }
 
  .par3{
    /* border: 5px solid black; */
    width: 100%;
    height: 80vh;
  }

  .pn{
    height: 10vh;
    width: 100%;
    /* border: 1px solid red; */
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .kk{
    height: 3vh;
  }

  .types{
    height: 7vh;
    width: 99.5%;
    /* border: 1px solid black; */
    
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    /* background: #F0EBE3; */
  

  }

  #proj{
    height: 52vh;
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;
  }

  .sh{
    width: 35vh;
    height: 35vh;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
  }
  .js1{
    width: 40vh;
    height: 40vh;
    border: 1px solid black;
    border-radius: 3px;
    display: none;
  }
  .man{
    width: 40vh;
    height: 40vh;
    border: 1px solid black;
    border-radius: 3px;
    display: none;
  }
  .ide{
    width: 40vh;
    height: 40vh;
    border: 1px solid black;
    border-radius: 3px;
    display: none;
  }
  .wd{
    width: 40vh;
    height: 40vh;
    border: 1px solid black;
    border-radius: 3px;
    display: none;
  }
  .ng{
    width: 40vh;
    height: 40vh;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
  }

  /* #v1{
    background-image: url('nim.png');
    background-size: 100% 100%;
  } */

  .nnn{
    height: 3vh;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .layer{
    width:80%;
    height:0%;
    background:linear-gradient(rgba(0,0,0,0.6),rgb(128, 173, 160));
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:0 40px;
    text-align:center;
    font-size:15px;
    transition:height 0.5s;
  }
  .layer h3{
    font-weight:600;
    font-size:25px;
    margin-bottom:20px;
  }
  .sh:hover{
    transform:scale(1.1);
  }
  .sh:hover .layer{
    height:100%;
  }

  a{
    text-decoration: none;
    color: rgb(248, 246, 244);
  }

  #chat{
    height: 70vh;
    width: 100%;
    /* border: 5px solid #CD5888; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #c1{
    height: 65vh;
    width: 70vh;
    border: 2px solid black;
    border-radius: 2vh;
    background-image: url("anim1.gif");
    background-size: 100% 100%;
    
  }

  #c2{
    height: 70vh;
    width: 70vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  #c3{
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  #c3>:nth-child(1){
    height: 9vh;
    width: 90%;
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #c3>:nth-child(2){
    height: 10vh;
    width: 90%;
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #c3>:nth-child(3){
    height: 25vh;
    width: 90%;
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #username{
    height: 50%;
    width:100%;
    border-radius: 1vh;
    font-size: 2vh;
    padding: 2vh;
  }
  #usermailid{
    height: 50%;
    width:100%;
    border-radius: 1vh;
    font-size: 2vh;
    padding: 2vh;
    
  }
 
#messege{
  height: 70%;
  width:90%;
  border-radius: 1vh;
  font-size: 2vh;
  padding: 2vh;
}
  
  #b{
    font-size: 3vh;
    width: 12vh;
  }

  form{
    height: 100%;
    width: 100%;
  }
  input{
    border:0.1 px solid black;
    padding: 2px;
  }

  .types>h3{
   background-color: #F0EBE3;
    height: 5vh;
    width: 20vh;
    font-size: 1.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 10px cadetblue;
    cursor: pointer;
    
    
  }

  #sside{
    width: 20vh;
    height: 18vh;
  }

  #w2{
    width: 30vh;
    height: 18vh;
  }

  .range{
    width: 100%;
    height: 3vh;
    border-radius: 1vh;
    border:1px solid black;
  }
  .rangee{
    width: 100%;
    height: 5vh;
    border-radius: 1vh;
    border:1px solid black;
  }
  #ngr{
    height: 100%;
    width: 90%;
    background-color: lightseagreen;
    border-radius: 1vh;
  }

  #wbr{
    height: 100%;
    width: 90%;
    background-color: lightseagreen;
    border-radius: 1vh;
  }

  #ider{
    height: 100%;
    width: 90%;
    background-color: lightseagreen;
    border-radius: 1vh;
  }

  #jr{
    height: 100%;
    width: 60%;
    background-color: lightseagreen;
    border-radius: 1vh;
  }

  